<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Results</li>
    </ol>
</nav>

<div class="view-user p-5">
    {{!-- {{#each rows}} --}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3>{{this.id}} {{this.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Semester</th>
                        <th scope="col">CGPA</th>
                    </tr>
                </thead>

                {{#each rows}}
                <tbody>
                    <tr>
                        <td>{{this.semester}}</td>
                        <td>{{this.cgpa}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>

    {{!-- {{/each}} --}}

</div>