<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IIT-JU</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


  <style>
    /* navbar style starts here */
    .slidebar {

      border: 20px;
      width: 15%;
      height: 520px;
      position: absolute;
      background-color: rgba(195, 179, 179, 0.493);
    }

    .slidebar header {
      padding: 10px 10px;
      text-align: center;
      font-family: 'Mochiy Pop P One', sans-serif;
      font-size: 30px;
      font-weight: bolder;
      color: rgb(16, 95, 98);
    }

    .slidebar header span {
      font-size: 50px;
      color: rgb(89, 161, 87);
    }

    .slidebar ul li {

      list-style: none;
      padding: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bolder;

    }

    .slidebar ul li:hover {
      transform: scale(1.1);
      transition: .5s;
      border-radius: 10px;
      background-color: rgb(89, 150, 152);
      margin-right: 20px;
    }

    .slidebar ul li a {
      text-decoration: none;
    }





    /* logout button */

    .logout {
      text-align: center;
      margin-top: 10px;
      font-family: 'Mochiy Pop P One', sans-serif;
      font-weight: bolder;
    }

    .logout:hover {
      transform: scale(1.2);
      color: red;
      transition: 1s;
    }
  </style>


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">IIT-JU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>

        <form class="d-flex" method="POST" action="/" novalidate>
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>


  <div class="slidebar">
    <header>
      {{!-- <span>
        <i class="fas fa-users-cog"></i><br>
      </span> --}}
      ADMIN
    </header>

    <ul>
      <li>
        <a href="/home"><i class="bi bi-home"></i> Home</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user-md"></i> Doctors</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user-nurse"></i> Staffs</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user-injured"></i> Patients</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-file-medical-alt"></i> Tests</a>

      </li>
      <li>
        <a href="#"><i class="fas fa-procedures"></i> Bed</a>

      </li>
      <li>
        <a href="#"><i class="fas fa-ambulance"></i> Ambulance</a>

      </li>
      <li>
        <a href="#"><i class="fas fa-medkit"></i> Medicine</a>
      </li>
    </ul>

    <!-- logoutbutton -->
    <div>
      <a style="text-decoration: none;" href="#">
        <div class="logout">
          Log Out
        </div>
      </a>
    </div>

  </div>

  <div class="container pt-5 pb-5">
    {{{body}}}
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>